#me-img {
  max-width: 180px;
  max-height: 40vh;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid var(--preto);
}
#link-sobremim {
  font-size: 18px;
}
#dev {
  animation: slideText 2s 0.5s both;
}

@keyframes slideText {
  from {
    opacity: 0;
    padding-top: 60%;
    color: var(--preto)
  }
  to {
    opacity: 1;
    padding-top: 20px;
  }
}
