#projeto, .dropdown-menu, button {
    width: 90%;
}
#projeto, .dropdown {
    margin: 30px 10%;
}
.dropdown-menu, .grid-cards, .card {
    background-color: var(--cinza);
}
.grid-cards {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px
}
.card {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.card:hover {
    transform: scale(1.03)
}
.disabled {
    pointer-events: none;
    cursor: pointer;
}