#projeto, .dropdown-menu, button {
    width: 90%;
    z-index: 2;
}
#projeto, .dropdown {
    margin: 30px 10%;
}
.dropdown-menu, .grid-cards, .card {
    background-color: var(--cinza);
}
.grid-cards {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px
}
.card {
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.6s ease;
}
@media (max-width:600px) {
    .grid-cards {
        display: flex;
        flex-direction: column;
    }
    .card {
        height: 100px;
        width: 100%;
    }
}
.grid-cards:hover > :not(:hover) {
    opacity: 0.4;
}
.disabled {
    pointer-events: none;
    cursor: pointer;
}