footer {
    position: relative;
    bottom: 0px;
    padding: 1%
}
.icon {
    max-width: 50px;
    animation: cubicBezier 1s 3s both;
}

@keyframes cubicBezier {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.09);
    }
    100% {
        transform: scale(1);
    }  
}