* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --branco: #eee;
  --cinza: #aaa8a8;
  --preto: #222;
  --ciano: #00f
}
body {
  background-color: var(--preto);
  height: 100vh;
  font-size: max(120%, 2vw);
  justify-content: space-between;
}
body, .navbar-item {
  color: var(--cinza);
}
a:hover, .navbar-item-active, #link-sobremim {
  color: var(--branco);
}
body, #base-info, #sobremim {
  display: flex;
  gap: 30px;
}
body, #sobremim {
  flex-direction: column;
}
#base-info {
  align-items: center;
  justify-content: center;
}
#base-info, #sobremim, .dropdown-menu, footer {
  text-align: center;
}
h1 {
  font-size: 180%;
}
a {
  text-decoration: none;
}
