* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --branco: #eee;
  --cinza: #888787;
  --preto: #222;
  --ciano: #00f;
}
body {
  background-color: var(--preto);
  font-size: max(120%, 2vw);
  flex-direction: column;
}
body {
  display: flex;
}
main, section {
  min-height: 84vh;
  padding-top: 90px;
}
body, .navbar-item {
  color: var(--branco);
}
a:hover, .navbar-item-active, #link-sobremim {
  color: var(--cinza);
}
#base-info, #sobremim, .dropdown-menu, footer {
  text-align: center;
}
h1 {
  font-size: 180%;
}
a {
  text-decoration: none;
}
