* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: black;
}
:root {
  --branco: #eee;
  --cinza: #646464;
  --preto: #222;
  --ciano: #00f;
}
body {
  display: flex;
  background-image: url('../img/binario2.jpg');
  background-color: var(--preto);
  object-fit: cover;
  font-size: max(120%, 2vw);
  flex-direction: column;
}
main, section {
  min-height: 100dvh;
  padding-top: 20dvh;
  color: whitesmoke;
}
body, .navbar-item-active, .navbar-item:hover {
  color: var(--branco);
}
#base-info, #sobremim, footer {
  text-align: center;
}
a {
  color: var(--cinza);
  text-decoration: none;
}
h1 {
  font-size: 180%;
}
h1, h2, h3, h4, h5 {
  color: whitesmoke;
}