:root {
    --branco: #eee;
    --cinza: #aaa8a8;
    --preto: #222;
	--ciano: #00f
}
body {
	margin: 0px;
	background-color: var(--preto);
	min-height: 100vh;
	font-size: 130%;
	color: var(--cinza)
}
body, #base-info, #sobremim { display: flex }
body, #sobremim { flex-direction: column }
.navbar {  justify-content: space-evenly }
main { padding-top: 55px; }
#base-info, #sobremim { flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 50px 10px;
	gap: 20px
}
#me-img {
	max-width: 200px;
	border-radius: 45%;
	border: 2px solid var(--preto)
}
h1 { font-size: 200% }
.sobremim { color: var(--cinza);
	border-radius: 4px }
a { text-decoration: none; }
.sobremim:hover, a:hover { color: var(--branco) }
#topico, .dropdown, .list-group-item { margin: 20px 7% }
#topico { display: inline-block;
	width: 85%
}
.list-group-item, button, .dropdown-menu { width: 100% }
.dropdown-menu, .list-group-item {	background-color: var(--cinza) }
.dropdown-menu, footer, #base-info, #sobremim { text-align: center }
footer { margin-top: auto }
.icon { max-width: 50px }