:root {
    --branca: #fff;
    --preto: #222;
    --cinza: #aaa;
    --cinza-escuro: #bbb;
    --vermelho: #f00;
}
body {
	background-color: var(--cinza);
	margin: 0px;
	font-size: 130%
}
nav {
	position: fixed;
	background-color: var(--preto);
	height: 10%;
	z-index: 1000
}
.nav-link { color: var(--branca); text-decoration: none;  margin: 2.1% }
.nav-link:hover { color: var(--cinza); text-transform: none }

#pdf-iframe { max-width: 100%; width: 500px }
#pdf-iframe, #close-warning { display: none }
#close-warning { display: none; color: var(--vermelho) }

main { padding-top: 55px; margin: 0% 0% 3% 10% }

.topics { display: inline-block; width: 85% }
#base-info {
	display: grid;
	grid-template-columns: 0fr 1fr;
	align-items: center;
	margin: 3% 7.5%
}
@media (max-width: 525px) {
	#base-info {
		justify-items: center;
		grid-template-columns: unset
	}
}
#me-img {
	max-width: 160px;
	border-radius: 100px;
	border: 2px solid #989
}
#textos, #base-info, .list-group-item, button { margin-left: 5% }

span { font-size: 100% }

.list-group-item { background-color: var(--cinza-escuro) }

a { margin: 0.5%; text-decoration: none }

.list-group-item, button { margin-bottom: 5px; width: 100% }

.dropdown-menu { --bs-dropdown-min-width: 100%;
	text-align: center;
	background-color: var(--cinza-escuro)
}
#icons {
	justify-content: center;
	flex-direction: row;
	background-color: var(--cinza-escuro)
}
.icon { width: 40px; margin-top: 10px }
