:root {
    --branco: #eee;
    --cinza: #666666;
    --preto: #222;
	--ciano: #00f
}
body {
	margin: 0px;
	background-color: var(--preto);
	min-height: 100vh;
	font-size: 130%;
	color: var(--cinza);
	flex-direction: column;
	
}
body, #base-info { display: flex }
.navbar { height: 10%;
	justify-content: space-evenly
}
main { padding-top: 55px; }
#base-info {
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 20px;
}
h1 { font-size: 200%; }
#me-img {
	max-width: 200px;
	border-radius: 45%;
	border: 2px solid var(--preto)
}
#topico, .dropdown, .list-group-item { margin: 20px 7%}

#sobremim { display: none }

span { font-size: 100%; align-items: center; align-content: center;}
#topico { display: inline-block;
	width: 85%;
}
.list-group-item { background-color: var(--cinza) }

a { margin: 0.5% }

.list-group-item, button { margin-bottom: 5px;
	width: 100%
}
.dropdown-menu { --bs-dropdown-min-width: 100%;
	background-color: var(--cinza)
}
.dropdown-menu, footer { text-align: center; }
footer {
	margin-top: auto;
	width: 100% }
.icon { max-width: 50px }